.app.dark {
    --bg-color: #06063b;
    --inverted-bg-color: #e7e7e7;
    --primary-color: green;
    --secondary-color: #00b400;
    --inverted-primary-color: #002f57;
    --inverted-secondary-color: #0054d5;
}
